@tailwind base;
@tailwind components;
@tailwind utilities;

.rdp-day_selected:not([disabled]),
.rdp-day_selected:focus:not([disabled]),
.rdp-day_selected:active:not([disabled]),
.rdp-day_selected:hover:not([disabled]) {
    background: transparent !important;
    color: #19D3AE !important;
    font-weight: bold;

}

.rdp-button:focus:not([disabled]),
.rdp-button:active:not([disabled]) {
    border: transparent !important;
}